<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Welcome to Quizy</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body>
        <!--Navbar-->
        <div class="container text-center my-2 d-sm-block d-lg-none">
            <div class="btn-group" role="group" aria-label="Basic outlined example">
              <a href="./index.html" class="btn btn-outline-primary">Home</a>
              <a href="./quizz.html" class="btn btn-outline-primary">Quiz's</a>
              <a href="./leaderboard.html" class="btn btn-outline-primary">Leaderboard</a>
              <a href="./login.html" class="btn btn-outline-primary">Login</a>
            </div>
          </div>
            <nav class="navbar navbar-expand-lg bg-body-tertiary d-none d-lg-block">
                <div class="container">
                  <a class="navbar-brand" href="./index.html">Quizy</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./quiz.html">Quiz</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./leaderboard.html">LeaderBoard</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Other
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Blog</a></li>
                          <li><a class="dropdown-item" href="#">About</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Contact Us</a></li>
                        </ul>
                      </li>
                    </ul>
                    <form class="d-flex" role="search">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Search</button>
                      <a href="./login.html" class="btn btn-primary ms-2">Login</a>
                    </form>
                  </div>
                </div>
              </nav>


        <!--JSD bootstrap icon link-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        
        <!--Main Content-->
        <h1 class="display-4 text-center my-5">Python - (20 Questions)</h1>
        <p class="fs-4 text-center container">These are the questions for Python Module. Attend the all questions</p>
        <div class="container">
            <div class="d-flex justify-content-between">
                <span class="fs-5">April 27, 2023 4:00PM</span>
                <span class="fs-5">30:00</span>
            </div>
            <div class="questions my-4">
                <div class="card mb-3">
                    <div class="card-header fw-bold">
                      Question - 1
                    </div>
                    <div class="card-body">
                        <p class="card-text">Which are the Data types in Python?</p>
                        <div class="form-check">
                            <label class="form-check-label" for="flexRadioDefault1">
                                <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault1">
                                option 1
                            </label>
                          </div>
                          <div class="form-check">
                            <label class="form-check-label" for="flexRadioDefault2">
                                <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault2">
                              option 2
                            </label>
                          </div>
                          <div class="form-check">
                            <label class="form-check-label" for="flexRadioDefault3">
                                <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault3">
                                option 3
                            </label>
                          </div>
                          <div class="form-check">
                            <label class="form-check-label" for="flexRadioDefault4">
                                <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault4">
                                option 4
                            </label>
                          </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header fw-bold">
                      Question - 1
                    </div>
                    <div class="card-body">
                        <p class="card-text">Which are the Data types in Python?</p>
                        <div class="form-check">
                            <label class="form-check-label" for="flexRadioDefault5">
                                <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault5">
                                option 1
                            </label>
                          </div>
                          <div class="form-check">
                            <label class="form-check-label" for="flexRadioDefault6">
                                <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault6">
                              option 2
                            </label>
                          </div>
                          <div class="form-check">
                            <label class="form-check-label" for="flexRadioDefault7">
                                <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault7">
                                option 3
                            </label>
                          </div>
                          <div class="form-check">
                            <label class="form-check-label" for="flexRadioDefault8">
                                <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault8">
                                option 4
                            </label>
                          </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header fw-bold">
                      Question - 1
                    </div>
                    <div class="card-body">
                        <p class="card-text">Which are the Data types in Python?</p>
                        <div class="form-check">
                            <label class="form-check-label" for="flexRadioDefault9">
                                <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault9">
                                option 1
                            </label>
                          </div>
                          <div class="form-check">
                            <label class="form-check-label" for="flexRadioDefault10">
                                <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault10">
                              option 2
                            </label>
                          </div>
                          <div class="form-check">
                            <label class="form-check-label" for="flexRadioDefault11">
                                <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault11">
                                option 3
                            </label>
                          </div>
                          <div class="form-check">
                            <label class="form-check-label" for="flexRadioDefault12">
                                <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault12">
                                option 4
                            </label>
                          </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header fw-bold">
                      Question - 1
                    </div>
                    <div class="card-body">
                        <p class="card-text">Which are the Data types in Python?</p>
                        <div class="form-check">
                            <label class="form-check-label" for="flexRadioDefault13">
                                <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault13">
                                option 1
                            </label>
                          </div>
                          <div class="form-check">
                            <label class="form-check-label" for="flexRadioDefault14">
                                <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault14">
                              option 2
                            </label>
                          </div>
                          <div class="form-check">
                            <label class="form-check-label" for="flexRadioDefault15">
                                <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault15">
                                option 3
                            </label>
                          </div>
                          <div class="form-check">
                            <label class="form-check-label" for="flexRadioDefault16">
                                <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault16">
                                option 4
                            </label>
                          </div>
                    </div>
                </div>
            </div>
            <a href="#" type="submit" class="btn btn-primary">submit</a>
        </div>

        
        <!--footer-->
        <div class="container">
            <footer class="py-3 my-4">
              <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Contact</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Feedback</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
              </ul>
              <p class="text-center text-body-secondary">© 2024 Quizy Pvt Ltd</p>
            </footer>
        </div>
    </body>
</html>

